<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= item.name %></title>
</head>
<body>
    <nav><a href="/">Home</a> 
        <a href="/users/<%= user._id %>/wishlist">View Wishlist</a> 
        <a href="/auth/sign-out">Sign Out</a>
    </nav>
    <h1>Edit <%= item.name %></h1>
    <form action="/users/<%= user._id %>/wishlist/<%= item._id %>?_method=PUT" method="POST">
        <label for="name">Name: </label>
        <input type="name" name="name" id="name" value="<%= item.name %>" required />
        <label for="price">Price: </label>
        <input type="price" name="price" id="price" value="<%= item.price %>"/>
        <label for="description">Description: </label>
        <textarea name="description" id="description"><%= item.description %></textarea>
        <label for="link">Link: </label>
        <input type="link" name="link" id="link" value="<%= item.link %>"/>
        <button type="submit">Submit Change</button>
    </form>
</body>
</html>