<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s Wishlist</title>
</head>
<nav><a href="/">Home</a> 
    <a href="/users/<%= user._id %>/wishlist">View Wishlist</a> 
    <a href="/community">Community</a>
    <a href="/auth/sign-out">Sign Out</a>
</nav>
<body>
    <h1><%= watchedUser.username %>'s Wishlist</h1>
    <ul>
        <% watchedUser.wishlist.forEach(item => { %>
            <li><a href="/community/show/<%= watchedUser._id %>/<%= item._id %>"><%= item.name %></a></li>
        <% }); %>
    </ul>
</body>
</html>