<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s Wishlist</title>
</head>
<body class="index">
    <nav>
        <div>
        <button class="nav"><a href="/" class="nav">Home</a></button>
        <button class="nav"><a href="/users/<%= user._id %>/wishlist" class="nav">View Wishlist</a></button>
        <button class="nav"><a href="/community" class="nav">Community</a></button>
    </div>
        <button class="nav"><a href="/auth/sign-out" class="nav">Sign Out</a></button>
    </nav>
    <section class="header">
    <h1><%= watchedUser.username %>'s Wishlist</h1>
</section>
    <main>
        <% watchedUser.wishlist.forEach(item => { %>
            <button id="item"><a href="/community/show/<%= watchedUser._id %>/<%= item._id %>"><%= item.name %></a></button>
        <% }); %>
        </main>
</body>
</html>